<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.TeacherMapper" >

   <!-- 根据教师的用户名来查询教师的信息 -->
    <select id="findTeacherByName"  parameterType="java.lang.String" resultType="teachercustom">
        select teacherId,password from t_teacher where teacherName=#{value}
    </select>
    
      <!-- 根据教师的id来查询教师的信息 -->
    <select id="findTeacherById"  parameterType="java.lang.Integer" resultType="teachercustom">
        select * from t_teacher where teacherId=#{value}
    </select>
    
    <!--  根据教师的邮箱或教师的用户名来查询教师的信息-->
    <select id="findTeacherByNameOrEmail" parameterType="java.lang.String" resultType="teacherCustom">
       select teacherId,password from t_teacher where teacherName=#{value} or email=#{value}
    </select>
    
    <!-- 编辑教师的认证信息 -->
    <update id="editTeacherDiplomaInfo" parameterType="teacherCustom" >
         update t_teacher
         set idPic=#{idPic},diplomaPic=#{diplomaPic},masterDiplomaPic=#{masterDiplomaPic}
         where teacherId=#{teacherId}
    </update>
    
    <!--  查询教师的课程-->
    <select id="findTeacherCourses" parameterType="java.lang.Integer" resultType="teacherCourses">
       select t_course.*
       from t_course
       where t_course.teacherId=#{value} 
    </select>
    
    <!-- 编辑教师信息 -->
    <update id="editTeacherInfo" parameterType="teacherCustom" >
        update t_teacher
        set email=#{email},teacherName=#{teacherName},realName=#{realName},gender=#{gender},teacherAge=#{teacherAge},
            idNumber=#{idNumber},preference=#{preference},education=#{education},seniority=#{seniority},phone=#{phone},
            teacherType=#{teacherType},description=#{description}
        where teacherId=#{teacherId}
    </update>
    
    <!-- 修改教师密码 -->
   <update id="editTeacherPwd" parameterType="teacherCustom">
     update t_teacher
     set password=#{password}
     where teacherId=#{teacherId}
   </update>
   
</mapper>







