<h2 class="text-center" style="margin-bottom:30px;">请提交您的身份证及学历证书清晰照片</h2>
<div class="form-group">
    <label>身份证号码</label>
    <input type="text" class="form-control" ng-model="formData.idNum">
</div>
<div class="form-group">
    <p>身份证正面照片</p>
    <img class="pic" src="../img/main.jpg" alt="">
    <input type="file">
    <br>
    <p>身份证背面照片</p>
    <img class="pic" src="../img/main.jpg" alt="">
    <input type="file">
</div>
<div class="form-group">
    <label>本科/专科学位证书照片</label>
    <img class="pic" src="../img/main.jpg" alt="">
    <input type="file">
</div>
<div class="form-group">
    <label>硕士学位证书照片</label>
    <img class="pic" src="../img/main.jpg" alt="">
    <input type="file">
</div>



<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
        <button type="submit" class="btn btn-danger" ui-sref="signup.verification" ng-click="idSubmit()">提交</button>
    </div>
</div>