.main {
  height: 800px;
  position: relative;
  background-image: url('../img/main.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.qrcode {
  padding: 10px 10px 0 10px;
  background-color: #fff;
  position: absolute;
  right: 20%;
  bottom: 30%;
  border-radius: 4px;
}
.qrcode div {
  display: inline-block;
}
.qrcode img {
  margin: 10px;
  height: 80px;
  width: 80px;
  text-align: center;
  background-color: gray;
}
.qrcode span {
  display: block;
  margin-bottom:10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.qrcode:before{
  content: '扫描二维码下载App';
  position: absolute;
  bottom: 150px;
  font-size: 20px;
  font-weight: bold;
  color: white;

}
.activity {
  /*height: 500px;*/
  margin-top: 30px;
  margin-bottom: 30px;
}
.activity-list {
  margin-top: 30px;
}
.ph {
  height: 500px;
  border: 1px solid black;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}
.signin {
  display: none;
  position: absolute;
  top: 50px;
  right: 25px;
  height: auto;
  width: 300px;
  z-index: 999;
  background-color: #ddd;
  border-radius: 4px;
  box-shadow: 1px 2px 10px black;
}
.signin form {
  margin-top: 50px;
}
.formtable {
  margin: 0 auto;
  text-align: right;
  color: black;
}
.formtable td {
  padding-bottom: 10px;
}
.submit {
  margin: 20px auto;
  text-align: center;
}
