/* style.css */
/* BASIC STYLINGS
============================================================================= */
.page-title {
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 48px;
  background-color: #4d99f5;
  color: #fff;
  text-shadow: -3px -3px 5px #264E7F;
}
/* numbered buttons */
#status-buttons a{ 
  width: 96px;
  height: 96px;
  color:#333; 
  display:inline-block; 
  font-size:24px; 
  margin-right:20px; 
  text-align:center;
}
#status-buttons a:first-child {
  margin-right: 40px;
}
#status-buttons a:nth-child(3) {
  margin-right: 15px;
}
#status-buttons a:hover {
  text-decoration: none;
}
#status-buttons a:active,
#status-buttons a:focus {
  text-decoration:none; 
  color:#00BC8C;
}

#status-buttons span{
  color: #fff;
  background:#080808;
  text-align: center; 
  display:block; 
  height:50px;
  line-height: 50px;
  margin:0 auto 10px; 
  width:50px;
  border-radius:100%;
}
#status-buttons a.active {
  color: #00BC8C;
}
#status-buttons a.active span{ 
  background:#00BC8C; 
}

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views             { width:auto; }
 
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
     
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}
 
/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}
 
/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to         { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {    
    to         { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to         { -webkit-transform: translateX(-200%); }
}
 
/* slide in from the right */
@keyframes slideInRight {
    from     { transform:translateX(200%); }
    to         { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from     { -moz-transform:translateX(200%); }
    to         { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from     { -webkit-transform:translateX(200%); }
    to         { -webkit-transform: translateX(0); }
}