<div class="row" style="margin-top: 30px">
  <h1>教师简介</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="tinfo">
      <tr>
        <td>教师编号</td>
        <td>123</td>
        <!--<td ngIf></td>-->
      </tr>
      <tr>
        <td>姓名</td>
        <td>123</td>
      </tr>
      <tr>
        <td>教学领域</td>
        <td>123</td>
      </tr>
      <tr>
        <td>最高学历</td>
        <td>123</td>
      </tr>
      <tr>
        <td>从业时间</td>
        <td>123</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <img src="../img/160301111147.jpg" alt="教师头像">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <p class="tdbasic">履历</p>
    <p>2010年XXX2011年XXXX2013年XXXXX</p>
    <!--<textarea name="" id="" rows="10" ngModel=""></textarea>-->
    <hr>
    <p class="tdbasic">状态</p>
    <div class="radiobox">
      <div><input type="radio" name="timetype" value="全职" ng-model="te.timetype">全职</div>
      <div><input type="radio" name="timetype" value="兼职" ng-model="te.timetype">兼职</div>
    </div>
    <hr>
    <p class="tdbasic">课程列表</p>
    <ul class="tuli">
      <li class="smfailed">审核未通过</li>
      <li class="smwaiting">待审核</li>
      <li class="smunfilled">未招满</li>
      <li class="smfull">已招满</li>
      <li class="smsuspended">已停课</li>
      <li class="smgoing">正在上课</li>
    </ul>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>课程编号</th>
          <th>课程名</th>
          <th>课程类型</th>
          <th>上课时间</th>
          <th>上课地点</th>
          <th>实际招生/计划招生</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <tr class="smfailed">
        <td>1001</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="" ui-serf="">修改课程信息</a></td>
      </tr>
      <tr class="smwaiting">
        <td>1002</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="smunfilled">
        <td>1003</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="" ui-serf="">修改课程信息</a>/<a onclick="">停课</a></td>
      </tr>
      <tr class="smfull">
        <td>1004</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="smsuspended">
        <td>1005</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="smgoing">
        <td>1006</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="" ui-serf="">修改课程信息</a>/<a onclick="">停课</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
